.posts-component {
    display: flex;
    flex-direction: column;
    width: 100vh;
}

.posts-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

h2 {
    padding: 0 1rem;
    font-size: 1.5rem;
}

