* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  text-align: center;
  padding: 2rem;
}

